<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
        <link href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
